input.custom-input {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	line-height: 20px;
	font-size: 14px;
	border: 1px solid #c8c9ca;
	border-radius: 4px;
	outline: none;
	padding: 10px 10px;
	transition: box-shadow 0.2s;
	-webkit-appearance: none;

	&.error {
		--main-color: rgb(255, 113, 113);
		border: 1px solid var(--main-color);
	}

	&:focus {
		border: 1px solid #ff8614;
		box-shadow: 0px 0px 3px 0px #ff8614;
	}

	&::placeholder {
		color: rgba(70, 70, 70, 0.4);
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: rgba(70, 70, 70, 0.4);
	}

	&::-ms-input-placeholder {
		color: rgba(70, 70, 70, 0.4);
	}
}
