.button-custom {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	background-color: var(--main-color);
	text-transform: uppercase;
	outline: none;
	cursor: pointer;

	&:hover {
		opacity: 0.95;
	}

	&[disabled] {
		opacity: 0.6;
		cursor: not-allowed;
	}

	&.error {
	}
}
