div.status-bar {
	width: 100%;
	height: 10px;
	float: left;
	border-radius: 4px;
	border: 1px solid var(--main-color);
	box-sizing: border-box;
	background: linear-gradient(
		90deg,
		var(--main-color),
		var(--main-color) var(--percents),
		transparent var(--percents),
		transparent 100%
	);
}
