.initial-form {
	input,
	.select-custom {
		display: block;
		margin: 0 auto;
	}

	.select-custom,
	.button-custom {
		margin-top: 20px;
		text-align: left;
	}

	.button-custom {
		padding-left: 20px;
	}
}
