@import '~@scss';

div.toast {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 200px;
	color: #24292e;
	padding: 10px 20px;
	background-color: var(--main-color);

	.close {
		position: absolute;
		top: 5px;
		right: 5px;
		width: 11px;
		height: 11px;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 5px;
			left: 0;
			width: 11px;
			height: 1px;
			display: block;
			background-color: #24292e;
			transform-origin: center;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}

	.grumpy {
		position: absolute;
		left: 0px;
		bottom: 100%;
		width: 200px;
		height: 150px;

		background: url('/static/grumpy.png') no-repeat bottom left;
		background-size: cover;
	}
}

@include media('>=phone', '<tablet') {
	div.toast {
		position: fixed;
		right: 20px;
		left: 20px;
		bottom: 20px;
		width: initial;
		color: #24292e;
		padding: 10px 20px;
		background-color: var(--main-color);

		.grumpy {
			position: absolute;
			left: 50%;
			bottom: 100%;
			width: 300px;
			height: 230px;
			transform: translateX(-50%);

			background: url('/static/grumpy.png') no-repeat bottom left;
			background-size: cover;
		}
	}
}
