@import '~@scss';

main.center-container {
	position: absolute;
	min-width: 500px;
	max-width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h1 {
		color: var(--main-color);
		font-size: var(--title-size);
		text-align: center;
	}
}

@include media('>=phone', '<tablet') {
	main.center-container {
		position: static;
		width: 100%;
		min-width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
		transform: none;
	}
}
