@import '~@scss';

.select-custom {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 40px;
	outline: none;

	&.error {
		--main-color: rgb(255, 113, 113);

		.content {
			border: 1px solid var(--main-color);
		}
	}

	.content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		max-height: 40px;
		border: 1px solid #c8c9ca;
		border-radius: 4px;
		box-sizing: border-box;
		cursor: pointer;
		transition: max-height 0.2s;
		overflow: hidden;
	}

	.arrow {
		position: absolute;
		width: 10px;
		height: 8px;
		top: 16px;
		right: 12px;
		transition: transform 0.2s;

		&::after {
			content: '';
			position: absolute;
			top: -3px;
			right: 0;
			width: 8px;
			height: 8px;
			border-right: 1px solid var(--main-color);
			border-bottom: 1px solid var(--main-color);
			transform: rotate(45deg);
			transform-origin: center;
		}
	}

	.value {
		height: 40px;
		width: calc(100% - 18px);
		text-align: left;
		padding-left: 10px;
		font-size: 14px;
		line-height: 40px;
	}

	&.placeholder {
		.value {
			color: rgba(70, 70, 70, 0.4);
			padding-left: 10px;
			text-align: left;
		}
	}

	.dropdown {
		width: 100%;
		height: auto;
		max-height: 0;
		background: #ffffff;
		overflow: hidden;
		transition: max-height 0.2s;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;

		.option {
			padding: 5px 20px;
			line-height: 20px;
			background-color: #ffffff;
			overflow: hidden;

			&:nth-of-type(odd) {
				background-color: rgba(200, 201, 202, 0.1);
			}

			&:hover {
				background-color: var(--main-color);
				color: #ffffff;
			}
		}
	}

	&:focus {
		z-index: 101;

		.arrow {
			transform: rotate(-180deg);
		}

		.content {
			overflow: visible;
			max-height: 500px;
		}

		.dropdown {
			max-height: 456px;
			overflow-y: auto;
		}
	}
}

@include media('>=phone', '<tablet') {
	.select-custom {
		.content {
			height: 40px;

			.cover {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 0;
				transition: height 0.2s;
				background-color: rgba(0, 0, 0, 0.3);
			}
		}

		.dropdown {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			height: calc(100% / 3);
			max-height: 0;
			overflow: scroll;

			.option {
				line-height: 40px;
				font-size: 20px;
				text-align: center;

				&:hover {
					background-color: #ffffff;

					&:nth-of-type(odd) {
						background-color: rgba(200, 201, 202, 0.1);
					}
				}
			}
		}

		&:focus {
			z-index: 10001;

			.content {
				overflow: visible;

				.cover {
					height: calc(100% - (100% / 3));
				}
			}

			.dropdown {
				max-height: 100%;
			}
		}
	}
}
