@import '~@scss';

div.questions {
	.container {
		.option {
			width: calc(50% - 10px);
			float: left;

			&:nth-of-type(odd) {
				margin: 0 20px 20px 0;
			}
		}

		.button {
			margin-top: 20px;
		}
	}
}

@include media('>=phone', '<tablet') {
	div.questions {
		.container {
			.option {
				width: 100%;
				float: left;
				margin: 0 0 20px 0;
			}

			.button {
				margin-top: 20px;
			}
		}
	}
}
