.radio-container {
	input {
		display: none;

		&:checked + .container {
			opacity: 1;
		}
	}

	.container {
		width: 100%;
		height: 40px;
		box-sizing: border-box;
		padding: 0 10px;
		display: block;
		background: var(--main-color);
		opacity: 0.6;
		border-radius: 4px;
		line-height: 40px;
		transition: opacity 0.2s;
		color: #ffffff;
		cursor: pointer;
	}
}
